body
{
	background-color: #272822;
	margin: 0;
	font-family: 'Consolas';

	width: 1000px;
	margin-left: auto;
	margin-right: auto;

	overflow-x: scroll;

	color: #dcdcdc;
}

h1
{
	text-align: center;
	margin: 0;
	margin-bottom: 50px;
	margin-top: 10px;
	padding: 20px;
	background: #373832;
	box-sizing: border-box;
}

.main-flex
{
	display: flex;
	flex-direction: column;
	width: 100%;
}


.main-flex, .header-title
{
	transition: width 0.05s linear;
}
.main-flex.expanded, .header-title.expanded
{
	transition: width 0.05s linear;
	width:100vw;
	margin-left: auto;
	margin-right: auto;
}


.entry
{
	display: flex;
	padding: 3px;
	min-width: 800px;
}


.entry > span
{
	width: 180px;
	min-height: 30px;

	display: grid;
	align-items:center;
	padding-left: 10px;
	box-sizing: border-box;

	word-break: keep-all;
	overflow-wrap: anywhere;
}
.entry > span:nth-child(2),
.entry > span:nth-child(3),
.entry > span:nth-child(4)
{
	width: 100px;
}
.entry > span:last-child,
.entry > span:first-child
{
	flex-grow: 1;
}

.entry:nth-child(even)
{
	background-color: #373832
}
.entry:nth-child(odd)
{
	background-color: #474842;
}

.entry:first-child
{
	color: #f4f4f4;
	background: #111;
}
