.body
{
    margin: 0;
}

.container
{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height:500vh;
    margin: 0;
    padding: 0;
}

.perspective
{
    width: 8em;
    height: 8em;
    display: flex;
    justify-content: center;
    margin: 0;
    border: 1px solid black;

    transform-style: preserve-3d;
    perspective: 500px;
    animation: move-origin_ infinite 2s linear;
}

.side
{
    position: absolute;
    height: 10em;
    width: 10em;
    background: red;
    opacity: 0.6;
    margin: 0;
    padding: 0;
    border:1px solid black;
}

.bottom
{
    transform: rotateX(-90deg) translateZ(5em);
}
.top
{
    transform: rotateX(90deg) translateZ(5em);
}
.left
{
    transform: rotateY(-90deg) translateZ(5em);
}
.right
{
    transform: rotateY(90deg) translateZ(5em);
}
.back
{
    transform: translateZ(-5em);
}